@charset "utf-8";
body {
  background: url(../image/back.jpg);
  overflow: hidden;
}
.home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  height: 700px;
  padding: 50px;
  background-color: #A9DEFF;
  box-shadow: 5px 0 30px rgba(0, 0, 0, .1);
}
#slide {
  width: max-content;
  margin-top: 50px;
}
.img {
  width: 200px;
  height: 300px;
  background-position: 50% 35%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 5px 0 30px rgba(0, 0, 0, .1);
}
.img:nth-child(1), .img:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
.img:nth-child(3) {
  left: 80%;
}
.img:nth-child(4) {
  left: calc(80% + 220px);
}
.img:nth-child(5) {
  left: calc(80% + 440px);
}
.img:nth-child(n+6) {
  left: calc(80% + 660px);
  opacity: 0;
}
.img video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  box-shadow: 5px 0 30px rgba(0, 0, 0, .1);
}
.img .content {
  position: absolute;
  top: 40%;
  left: 100px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
  font-family: system-ui;
}
.img:nth-child(2) .content {
  display: block;
  z-index: 11111;
}
.img .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards
}
.img .des {
  margin: 20px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards
}
.img a, button {
  padding: 10px 20px;
  border: none;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}
.buttons {
  position: absolute;
  bottom: 30px;
  z-index: 222222;
  text-align: center;
  width: 100%;
}
.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.5s;
}
.buttons button:hover {
  background-color: #79E6FF;
}