@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montserrat+Alternates:wght@400;500;600&display=swap');
:root {
  --hue: 358;
  --first-color: hsl(var(--hue), 80%, 49%);
  --first-color-alt: hsl(var(--hue), 76%, 45%);
  --white-color: hsl(0, 0%, 98%);
  --black-color: hsl(0, 0%, 1%);
  --text-color: hsl(var(--hue), 2%, 66%);
  --body-color: hsl(var(--hue), 100%, 1%);
  --container-color: hsl(var(--hue), 2%, 10%);
  --conic-gradient: conic-gradient(from 150deg at 50% 45%, hsl(var(--hue), 80%, 20%) 0deg, hsl(var(--hue), 80%, 48%) 140deg, hsl(var(--hue), 80%, 20%) 360deg);
  --body-font: "Montserrat Alternates", sans-serif;
  --second-font: "Grechen Fuemen", cursive;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width : 1168px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body, input, textarea, button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body {
  background-color: #A9DEFF;
  color: var(--white-color);
}
input, button, textarea {
  border: none;
  outline: none;
}
h1, h2, h3, h4 {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1168px;
  margin-inline: 1.5rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 2rem 3rem;
}
.section-title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2rem;
}
.main {
  overflow: hidden;
}
.nav {
  position: fixed;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 98%, .1);
  width: 88%;
  margin-inline: auto;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 1rem 2rem;
  border-radius: 4rem;
  z-index: var(--z-fixed);
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  color: #308EFF;
  font-size: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color .6s;
}
.active-link {
  background-color: var(--white-color);
}
.perfil {
  position: relative;
  background: #A8B7FF;
  height: 415px;
  border-radius: 2rem;
  padding: 1rem;
  display: grid;
  overflow: hidden;
}
.perfil-img {
  width: 250px;
  position: absolute;
  justify-self: center;
  align-self: flex-end;
}
.perfil-data {
  align-self: flex-end;
  background-color: hsla(0, 0%, 1%, .1);
  background-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  z-index: var(--z-fixed);
  padding: 1.5rem 1rem;
  border: 2px solid hsla(0, 0%, 100%, .5);
}
.perfil-name {
  font: var(--font-regular) var(--h2-font-size) var(--second-font);
  margin-bottom: 1rem;
}
.perfil-buttons {
  display: grid;
  column-gap: .5rem;
  grid-template-columns: repeat(2, 1fr);
}
.perfil-buttons .button {
  padding: .75rem 0;
}
.button {
  display: inline-flex;
  justify-content: center;
  background-color: #FFFFFF;
  color: #434343;
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 2.5rem;
  border-radius: 4rem;
  transition: background-color .4s;
}
.button-black {
  background-color: #A6DBFD;
}
.button:hover {
  background-color: #1B1B1B;
}
.info, .about, .skills {
  background-color: #A8B7FF;
  padding: 2rem 1.5rem;
  border-radius: 2rem;
}
.info-circle {
  width: 2rem;
  height: 2rem;
  background-color: #7E94FD;
  border-radius: 50%;
}
.info-name {
  font: var(--font-regular) var(--h1-font-size) var(--second-font);
}
.info-data {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
}
.info-image {
  background-color: aliceblue;
  height: 180px;
  border-radius: 2rem;
  display: grid;
  margin-block: 1.5rem;
  overflow: hidden;
}
.info-img {
  width: 170px;
  justify-self: center;
  align-self: center;
  border-radius: 15%;
}
.info-description {
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}
.info .button {
  width: 100%;
}
.about-name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  margin-bottom: 1rem;
}
.about-social {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-block: 2rem;
}
.about-link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color .4s, color .4s
}
.about-link:hover {
  background-color: var(--first-color);
  color: var(--white-color);
}
.about-image {
  background-color: aliceblue;
  height: 180px;
  border-radius: 2rem;
  display: grid;
  overflow: hidden;
  margin-top: 1rem;
}
.about-img {
  width: 190px;
  height: 150px;
  justify-self: center;
  align-self: center;
  border-radius: 10%
}
.about-note {
  font-size: var(--small-font-size);
  margin-block: 1rem 2rem;
}
.about .button {
  width: 100%;
  margin-top: 1rem;
}
.skills-title {
  font-size: var(--h2-font-size);
}
.skill-item {
  width: 1.5rem;
  transition: transform .4s;
  border-radius: 5px;
}
.skill-item:hover {
  transform: translateY(-.25rem);
}
.skills-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  margin-block: 1.5rem;
}
.skill-description {
  font-size: var(--small-font-size);
}
.portfolio-card {
  background-color: #A8B7FF;
  padding: 1.5rem;
  border-radius: 2rem;
}
.portfolio-image {
  display: block;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}
.portfolio-img {
  transition: transform .4s;
}
.portfolio-name {
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}
.portfolio-description {
  color: var(--white-color);
  margin-bottom: 1.5rem;
}
.portfolio-skill {
  width: 1rem;
  transition: transform .4s;
}
.portfolio-skill:hover {
  transform: translateY(-.25rem);
}
.portfolio-skills {
  width: max-content;
  height: 34px;
  background-color: #FFFFFF;
  padding-inline: .75rem;
  display: flex;
  align-items: center;
  column-gap: .75rem;
  border-radius: 4rem;
  margin-bottom: 1.5rem;
}
.portfolio-button {
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: color .4s;
}
.portfolio-button i {
  font-size: 1.25rem;
}
.portfolio-button span {
  font-weight: var(--font-medium);
}
.portfolio-button:hover {
  color: var(--text-color);
}
.portfolio-card:hover .portfolio-img {
  transform: scale(1.2);
}
.services-card {
  background-color: #A8B7FF;
  padding: 4rem 1.5rem 3.5rem 1.5rem;
  border-radius: 2rem;
}
.services-icon {
  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
}
.services-icon i {
  font-size: 2.5rem;
  position: relative;
  z-index: var(--z-tooltip);
}
.services-circle {
  width: 3rem;
  height: 3rem;
  background-color: #FF4747;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
  transition: transform .4s;
}
.services-name {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}
.services-description {
  color: #686868;
}
.services-card:hover .services-circle {
  transform: translate(.25rem, -.25rem);
}
.contact-group, .contact-form {
  gap: 1rem;
}
.contact-form {
  position: relative;
}
.contact-input {
  background-color: var(--container-color);
  padding: 1.25rem;
  border-radius: 4rem;
  color: var(--white-color);
}
.contact-input::placeholder {
  color: var(--text-color);
}
.contact-input:autofill {
  transition: background-color 6000s, color 6000s;
}
.contact-area {
  height: 10rem;
  border-radius: 1.5rem;
  resize: none;
}
.contact-button {
  margin-top: 1.5rem;
  cursor: pointer;
}
.contact-message {
  position: absolute;
  left: 0;
  bottom: 4.5rem;
  font-size: var(--smaller-font-size);
}
.footer {
  padding-block: 2rem 8rem;
}
.footer-container {
  row-gap: 2.5rem;
}
.footer-logo {
  color: var(--white-color);
  font: var(--font-regular) var(--biggest-font-size) var(--second-font);
  justify-self: center;
}
.footer-link {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  color: var(--white-color);
  transition: color .4s;
}
.footer-link:hover {
  color: var(--text-color);
}
.footer-social {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}
.footer-social-link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color .4s, color .4s;
}
.footer-social-link:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}
.footer-copy {
  display: block;
  margin-top: 4.5rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}
::-webkit-scrollbar {
  width: .6rem;
  background-color: hsl(0, 0%, 20%);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 30%);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 40%);
}
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: hsla(0, 0%, 30%, .1);
  display: inline-flex;
  padding: 6px;
  color: var(--white-color);
  font-size: 1.25rem;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: .5rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}
.scrollup:hover {
  transform: translateY(-.5rem);
}
.show-scroll {
  bottom: 8rem;
}
@media screen and (max-width : 320px) {
  .container {
    margin-inline: 1rem;
  }
  .nav {
    padding: 1rem;
  }
}
@media screen and (min-width: 540px) {
  .nav {
    width: max-content;
  }
  .nav-list {
    column-gap: 1.25rem;
  }
  .home-container, .portfolio-container, .services-container, .contact-container {
    grid-template-columns: 380px;
    justify-content: center;
  }
}
@media screen and (min-width : 768px) {
  .home-container {
    grid-template-columns: repeat(2, 350px);
    align-items: flex-start;
  }
  .perfil {
    height: 100%;
  }
  .portfolio-container, .services-container {
    grid-template-columns: repeat(2, 350px);
  }
  .footer-container, .footer-content {
    grid-template-columns: repeat(2, max-content);
    align-items: center;
  }
  .footer-container {
    justify-content: space-between;
  }
  .footer-content {
    column-gap: 4.5rem;
  }
  .show-scroll {
    bottom: 3rem;
  }
}
@media screen and (min-width : 1200px) {
  .perfil-data {
    width: 300px;
    padding: 1rem;
    border-radius: 1.5rem;
    font-size: var(--normal-font-size);
  }
  .section-title {
    font-size: 1.75rem;
    margin-bottom: 3rem;
  }
  .perfil {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 2rem;
  }
  .perfil-img {
    width: 100%;
    height: auto;
    max-width: 500px;
    object-fit: cover;
  }
  .info {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .about {
    grid-column: 3/4;
    grid-row: 1/3;
    align-content: center;
  }
  .skills {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .portfolio-container {
    grid-template-columns: repeat(3, 300px);
    gap: 1.5rem;
  }
  .services-container {
    grid-template-columns: repeat(3, 300px);
    gap: 1.5rem;
  }
  .contact-container {
    grid-template-columns: 550px;
  }
  .footer-container {
    column-gap: 2rem;
  }
  .footer-copy {
    margin-top: 5rem;
  }
}
@media screen and (min-width : 1500px) {
  .nav {
    width: max-content;
    height: max-content;
    padding: 2rem 1rem;
    left: initial;
    right: 3rem;
    top: 0;
    bottom: 0;
    margin-block: auto;
  }
  .nav-list {
    flex-direction: column;
    row-gap: 1.25rem;
  }
  .footer {
    padding-block: 3rem;
  }
  .scrollup {
    right: 4rem;
  }
  .section-title {
    font-size: 2.25rem;
    margin-bottom: 3rem;
  }
  .home-container {
    grid-template-columns: 260px 600px 260px;
    align-items: center;
    justify-content: center;
  }
  .perfil {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 1rem;
    justify-content: center;
  }
  .perfil-img {
    width: 100%;
    height: auto;
    max-width: 500px;
    object-fit: cover;
  }
  .perfil-data {
    width: 300px;
    padding: 1.25rem;
    border-radius: 1.5rem;
    justify-content: center;
  }
  .info {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .about {
    grid-column: 3/4;
    grid-row: 1/3;
    align-content: center;
  }
  .skills {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .portfolio-container {
    grid-template-columns: repeat(3, 300px);
    gap: 1.5rem;
  }
  .services-container {
    grid-template-columns: repeat(3, 300px);
    gap: 1.5rem;
  }
  .contact-container {
    grid-template-columns: 550px;
  }
  .footer-container {
    column-gap: 2rem;
  }
  .footer-copy {
    margin-top: 5rem;
  }
}