* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  justify-content: center;
}
.gallery-item {
  width: 450px;
  height: 500px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.gallery-item:hover {
  transform: scale(1.1);
}
.video video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  box-shadow: 5px 0 30px rgba(0, 0, 0, .1);
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow-y: auto;
}
.modal img {
  max-width: 80%;
  max-height: 80%;
  margin: 10px;
}
/* Nút đóng modal */
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
  @media (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 480px) {
    .gallery {
      grid-template-columns: 1fr;
    }
    .modal img {
      max-width: 90%;
      max-height: 90%;
    }
  }